
.table-joueurs{
    /* margin-top: 13% ; */
    /* margin-left: 40%; */
    width: 50%;
    margin-left: 2%;
    position: absolute;
    float:right;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
th,td{
    border: solid;
}