.table-joueurs{
    margin-top: 13% ;
    margin-left: 50%;
    position: absolute;
    float:right;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    background-color: aqua;
}
th,td{
    border: solid;
}