/* .content-sign-in {
    display: flex;
    width: 60%;
    height: 60vh;
    background-color: red;
}

.check-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.choose-avatar {
    flex: 1;
}


/* 
!!!!!



!!!!!*/


/***
*! connexion-form
***/
/*
.connexion-form-inscrip {
    padding: 0;

}

.libele-form {
    background-color: var(--color-of-blue);
    height: 75px;
    display: flex;
    align-items: center;
    font-size: 2em;
}

.libele-form h2 {
    margin: 2.5%;
}

.control-grou {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-of-whitesmoke);
}

.forms-group {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid var(--color-of-gray);
    margin: 2.5%;
    height: 75px;
}

.forms-group:hover {
    background-color: var(--color-of-orange);
    color:black;
}

.label-connexion {
    min-width: 20%;
    min-height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.ic-connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
}

.ic-connexion img {
    width: 50px;
    height: 50px;
}

.input-connexion {
    border: none;
    border-left: 1px solid var(--color-of-gray);
    outline: none;
    text-indent: 2%;
    width: 70%;
    height: 80%;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-of-gray);
    margin: 1% 0;
}

.last-control {
    margin: 2.5%;
    display: flex;
    align-items: center;
    color: var(--color-of-gray);
    font-size: 2em;
}

.last-control #connect {
    width: 200px;
    height: 50px;
    margin-right: 40px;
    color: var(--color-of-blue);
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
}

.last-control a {
    color: var(--color-of-blue);
    display: flex;
}

.ERROR-LAY {
    text-align: center;
    font-size: 1.2em;
} 
*/
.content-sign-in{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.check-info{
    /* width: 60%; */
    height: 65vh;
}
.choose-avatar{
    background-color: white;
}
.choose-avatar img{
    margin: 7% 10%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.choose-avatar figcaption{
    margin: 3% 15%;
}
.libele-form{
    height: 7vh;
}
.control-group{
    height: 58vh;
    background-color:white;
    width: 100%;
}
.forms-group-inscrip{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.forms-group-inscrip label{
    height: 10px;
    font-size: 15px;
    color: var(--color-of-gray);
    width: 150px;
    display: flex;
}
.forms-group-inscrip label:hover{
    background-color: aqua;
}
